.header {
  background: #1e40af; /* Глубокий синий */
  padding: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.default-nav-link {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7); /* Приглушённый белый */
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 120px; /* Фиксированная ширина */
  text-align: center;
  transition: color 0.3s ease;
}

.default-nav-link:hover {
  color: white; /* Яркий белый при наведении */
}

.active-nav-link {
  font-size: 1.5rem;
  color: #fbbf24 !important; /* Тёплый жёлтый (как в Tailwind's amber-400) */
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 120px;
  text-align: center;
  font-weight: 500; /* Лёгкое утолщение */
}

.separator {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.25rem;
}

.teachDop {
    position: relative;
    right: 20px;
}

.footer {
  background: #1e40af;
  padding: 13px 0;
  display: inline-flex;
  width: 100%;
  justify-content: end;
  margin: 0;
  
}

.outlet-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 15px;
}